<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增题库</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../../../Lib/bootstrap-3.3.7-dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../../Lib/bootstrap-table/dist/bootstrap-table.css" />
		<link rel="stylesheet" href="../../../Lib/jsTree/style.min.css" />
		<style>
			html,
			body {
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
			
			.form {
				padding: 10px 15%;
			}
			
			.container-fluid {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<article class="article  article-condensed">
				<!-- 文章正文部分 -->
				<section class="content">
					<div class="noteContent">
						<form role="form" class="form">
							<div class="form-group">
								<label style="width: 65px;" for="p_question_type">题目内容:</label>
								<div style="display: inline-block;margin-left: 10px;width: 309px;">
									<input id="question_text" readonly="readonly"  type="text"  class="form-control search-input">
								</div>
							</div>
							<div class="form-group">
								<label style="width: 65px;text-align: right;" for="dsc">答案:</label>
								<div style="display: inline-block;margin-left: 10px;">
									<label class="radio-inline">
                                        <input type="radio" name="P_ANSWER" value="1" id="right">正确
                                     </label>
									<label class="radio-inline">
					                    <input type="radio" name="P_ANSWER" value="2" id="wrong">错误
					                </label>
								</div>
							</div>
						</form>
					</div>
				</section>
				<!-- 文章底部 -->
				<div style="position: absolute;bottom: 10px;width: 100%;text-align: center;">
					<button type="button" id="btn" style="width: 100px;" class="btn btn-primary" onclick="sumit()">提交</button>
				</div>
			</article>
		</div>

		<script type="text/javascript" src="../../../Lib/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../../../Lib/zui-1.9.1-dist/dist/js/zui.min.js"></script>
		<script type="text/javascript" src="../../../Lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="../../../Lib/jsTree/jstree.js"></script>
		<!--弹框-->
		<script type="text/javascript" src="../../../Lib/layer/layer.js"></script>
		<script type="text/javascript" src="../../../Lib/public.js"></script>
		<script type="text/javascript">
			var Trigger = new $.zui.ModalTrigger();
			var ID = $.url("ID");
			var option = $.url("option");
			var TITLE=unescape($.url("TITLE"));
			var aid=$.url("A_ID");
			$(document).ready(function() {
				getdate(ID);
				$("#question_text").val(TITLE);
			});

			function sumit() {
				 if($("input[name=P_ANSWER]").val() == "") {
					layer.alert("请选择答案！");
					return false;
				} else {
					$("#btn").attr("disabled", true);
					var Date={};
						Date={
							'P_ID':ID,
							'P_ANSWER':$("input[name=P_ANSWER]:checked").val()
						}
					$.ajax({
						type: "post",
						url: urlpath +"/exam/setTrueJudgeAnswer",
						async: true,
						data:Date,
						dataType: 'text',
						success: function(res) {
							if(res=="SUCCESS") {
								layer.msg("提示消息：提交成功！", {
									icon: 6,
									time: 1000
								});
								//调用父页面上的关闭窗口
								window.parent.Trigger.close();
								window.parent.tableRefresh();
							} else {
								layer.msg('提示消息：提交失败', {
									icon: 5,
									time: 1000
								});
								$("#btn").attr("disabled", false);
							}
						},
						error: function(err) {
							layer.alert("服务器出错了");
							$("#btn").attr("disabled", false);
						}
					});
				}
			}
			function getdate(id) {
				$.ajax({
					type: "post",
					url: urlpath + "/exam/answerGetDate",
					async: true,
					data: {
						'P_QUESTION_ID': id
					},
					dataType:'json',
					success: function(res) {
						if(res.length > 0) {
							if(res[0].ANSWER=="1")
							{
								$("#right").attr("checked","checked");
							}
							else
							{
								$("#wrong").attr("checked","checked");
							}
						} 
					},
					error: function(err) {
						alert("获取数据服务器出错了");
					}
				});
			}
		</script>
	</body>
</html>