<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>用户密码修改</title>
		<link rel="stylesheet" href="../Lib/zui-1.9.1-dist/dist/css/zui.min.css">

		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			
			.form-control:focus {
				-webkit-box-shadow: inset 0 0px 0px, 0 0 0px;
				box-shadow: inset 0 0px 0px, 0 0 0px;
			}
			
			.input-control {
				margin-bottom: 4%;
			}
			
			label {
				color: blue;
			}
			
			.panel {
				border: 0px;
			}
			/*.input-control.has-label-right-lg > .form-control {*/
			/*    padding-right: 110px;*/
			/*}*/
		</style>

		<script src="../Lib/jquery-3.4.1.min.js"></script>
		<script src="../Lib/zui-1.9.1-dist/dist/js/zui.min.js"></script>
		<script src="../Lib/public.js"></script>
		<script src="../Lib/vue.js"></script>
		<script src="../Lib/CheckPwd.js"></script>
		<script src="../Lib/md5.js"></script>
		<script src="../Lib/base64InOut.js"></script>
	</head>

	<body>
		<div id="v_body" style="padding: 20px">
			<div class="panel">
				<div class="panel-body">
					<div></div>
					<div id="oldPwdDiv" class="input-control has-label-left-lg">
						<input v-model="oldpass" id="oldPass" type="password" class="form-control" placeholder="请输入您的原密码">
						<label for="oldPass" class="input-control-label-left">原密码:</label>
					</div>
					<div class="input-control has-label-left-lg has-label-right">
						<input v-model="newpass" id="newPass" type="password" class="form-control" placeholder="密码位数在8-20之间，包含大写、小写字母、数字、特殊符号中的三种" value="">
						<label for="newPass" class="input-control-label-left">新密码:</label>
						<label for="newPass" v-bind:class="[classname,strong?success:danger]">{{stronginfo}}</label>
					</div>
					<div class="input-control has-label-left-lg has-label-right-lg">
						<input v-model="definepass" id="definePass" type="password" class="form-control" placeholder="请再次输入新密码" value="">
						<label for="definePass" class="input-control-label-left">确认新密码:</label>
						<label for="definePass" v-bind:class="[classname,define?success:danger]">{{defineinfo}}</label>
					</div>

					<button @click="submitData()" style="margin-left: 39%; font-size:16px ;" id="submitpress" class="btn btn-primary" type="button">&#12288;提交&#12288;</button>
				</div>
			</div>
		</div>

		<script>
			var userId = $.url("P_ID");
			if(userId == "" || userId == undefined) {
				$("#oldPwdDiv").show();
			} else {
				$("#oldPwdDiv").hide();
			}
			var vm = new Vue({
				el: "#v_body",
				data: {
					classname: ["input-control-label-right", "text-right"],
					success: "text-success",
					danger: "text-danger",
					oldpass: "",
					newpass: "",
					definepass: "",
					strong: false,
					stronginfo: "",
					define: false,
					defineinfo: ""
				},
				watch: {
					'newpass': function(newVal) {
						var stronglevel = checkStrong(newVal);
						if(stronglevel == 3) {
							this.strong = true;
							this.stronginfo = "通过";
						} else {
							this.strong = false;
							this.stronginfo = "强度低";
						}
						if(newVal == this.definepass) {
							this.define = true;
							this.defineinfo = "一致";
						} else {
							this.define = false;
							this.defineinfo = "不一致";
						}
					},
					'definepass': function(newVal) {
						if(newVal == this.newpass) {
							this.define = true;
							this.defineinfo = "一致";
						} else {
							this.define = false;
							this.defineinfo = "不一致";
						}
					}
				},
				methods: {
					submitData: function() {
						if(!this.strong) {
							new $.zui.Messager('输入的密码位数在8-20之间，包含大写、小写字母、数字、特殊符号中的三种', {
								type: 'warning',
								placement: 'center'
							}).show();
							return false;
						}
						if(!this.define) {
							new $.zui.Messager('两次输入的密码不相同，请确认', {
								type: 'warning',
								placement: 'center'
							}).show();
							return false;
						}
						var s = new base64InOut();
						var actionUrl = "";
						var pwdOld = "";
						var pwdNew = "";
						var jsonData = "";
						if(userId == "" || userId == undefined) {
							actionUrl = '/UserHander/editPasswordUser';
							jsonData = {
								'P_USER_PASSWORD': s.base64Encodes(hex_md5(this.oldpass).toUpperCase()),
								'P_USER_PASSWORDNEW': s.base64Encodes(hex_md5(this.newpass).toUpperCase()),
							}
						} else {
							actionUrl = '/UserHander/editPassWord.action';
							jsonData = {
								'P_PASSWORD': this.newpass,
								'P_ID': userId
							}
						}
						$.ajax({
							url: urlpath + actionUrl,
							type: 'post',
							dataType: 'text',
							data: jsonData,
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true == !(document.all), //兼容ie
						}).then(function(res) {
							if(res.indexOf("密码修改成功") > -1 || res.indexOf("SUCCESS") > -1) {
								new $.zui.Messager('提示消息：修改成功', {
									type: 'success',
									placement: 'center'
								}).show();
								if(userId == "" || userId == undefined) {
									setTimeout(function() {
										window.parent.$.zui.modalTrigger.close();
									}, 1000);
								} else {
									setTimeout(function() {
										window.parent.closeTrigger();
									}, 1000);
								}
							} else {
								new $.zui.Messager('提示消息:' + res, {
									type: 'warning',
									placement: 'center'
								}).show();
							}
						}).fail(function() {
							alert("连接后台错误");
						})
					}
				}
			});
		</script>
	</body>

</html>