<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>历史事件</title>
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/css/zui.min.css">
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/lib/datetimepicker/datetimepicker.min.css">
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.css">
		<style>
			html,
			body {
				background: #F9F9F9;
				height: 98%;
			}
			
			.row,
			.col-md-2,
			.col-md-10,
			.panel,
			.panel-body {
				height: 100%;
			}
			
			.panel-body {
				overflow: auto;
				padding: 0 15px;
			}
			
			.container-fluid {
				padding: 10px;
			}
			
			.progressBox {
				padding-top: 20px;
				height: 70px;
				line-height: 30px;
				font-weight: 600;
				font-size: 14px;
			}
			
			.progressBox p span {
				float: right;
				color: #8798AD;
			}
			
			.progress {
				height: 5px;
			}
			
			form {
				padding: 20px 0;
			}
			
			.form-group {
				margin-top: 20px;
				margin-bottom: 25px;
			}
			
			form>button {
				float: right;
				margin-top: 15px;
			}
			
			.clearfix {
				height: 70px;
				line-height: 70px;
			}
			
			.clearfix h2 {
				display: inline-block;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="panel">
						<div class="panel-body" style="padding: 30px 15px 15px 15px">

							<form>

								<div class="input-control search-box has-icon-right" id="searchbox">
									<input id="inputSearch" type="search" class="form-control search-input" placeholder="输入标题内容按下回车搜索">
									<label for="inputSearch" class="input-control-icon-right search-icon"><i
                                    class="icon icon-search"></i></label>
								</div>

								<div class="form-group">
									<label for="exampleInputMoney1">时间</label>
									<div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
										<input class="form-control" size="16" type="text" value="" readonly id="timeStart">
										<span class="input-group-addon"><span class="icon-remove"></span></span>
										<span class="input-group-addon"><span class="icon-calendar"></span></span>
									</div>
									<p style="text-align: center;margin:8px 0;color:#D2D2D2;">——</p>
									<div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
										<input class="form-control" size="16" type="text" value="" readonly id="timeEnd">
										<span class="input-group-addon"><span class="icon-remove"></span></span>
										<span class="input-group-addon"><span class="icon-calendar"></span></span>
									</div>
								</div>
								<button class="btn btn-primary" type="button" onclick="javascript:search()">&#12288;查询&#12288;</button>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-10">
					<div class="panel">
						<div class="panel-body">
							<div id="myJobsDG" class="datagrid datagrid-borderless">
								<header class="clearfix">
									<h2 id='titleName'>通知公告</h2>
									<div style="float: right;">
										<!--<button class="btn btn-primary" type="button" onclick="myorderhistory()">历史事件</button>
										<button class="btn btn-primary" type="button" onclick="myorderalready()" type="button">我的已办</button>-->
									</div>
								</header>
								<div class="datagrid-container"></div>
								<div class="pager"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../Lib/jquery-3.4.1.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/js/zui.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/selectable/zui.selectable.min.js"></script>
		<script src="../../Lib/public.js" type="text/javascript"></script>
		<script>
			//var column_data = [];
			applyTrigger = new $.zui.ModalTrigger();
			var Vsearch;

			$(function() {
				// 初始化搜索框，并在选项中指定搜索文本变更事件回调函数，这样当搜索框文本发送变化时获得通知。
				$('#searchbox').searchBox({
					escToClear: true, // 设置点击 ESC 键清空搜索框
					onSearchChange: function(searchKey, isEmpty) {
						// console.log('搜索框文本变更：', searchKey);
						Vsearch = searchKey;
					},
					onPressEnter: function(event) {
						// 处理按下 Enter 键事件
						myDataGrid.search(Vsearch);
					}
				});

				$(".form-date").datetimepicker({
					language: "zh-CN",
					weekStart: 1,
					todayBtn: 1,
					autoclose: 1,
					todayHighlight: 1,
					startView: 2,
					minView: 2,
					forceParse: 0,
					format: "yyyy-mm-dd"
				});

				getDataGrid();
			})

			function getDataGrid() {
				$('#myJobsDG').datagrid({
					rowDefaultHeight: 45,
					height: 'page',
					checkable: false,
					checkByClickRow: false,
					showRowIndex: false,
					dataSource: {
						cols: [
							{ name: '', label: '', width: 0.02,sort:false,checkbox:true},
						    { name: 'TITLE', label: '公告标题', width: 0.2,'html': true,
	              					'valueOperator': {
			                            getter: function (dataValue, cell, dataGrid) {
			                            	var id = cell.config.data.NOTE_ID;
			                            	return "<a onclick='seeNote("+id+")'>"+dataValue+"</a>";
			                            }
			                        }},
						    { name: 'CONTENT', label: '公告内容', width: 0.3},
						    { name: 'CREATE_TIME', label: '创建时间', width: 140 },
						    { name: 'CREATE_USER', label: '创建人', width: 120}
						],
						remote: function(params) {
							return {
								// 请求地址
								url: urlpath + '/CommonHander/listNoteInfo?P_TYPE=1',
								// 请求类型
								type: 'post',
								dataType: 'json',
								xhrFields: {
									withCredentials: true
								},
								crossDomain:true==!(document.all),//兼容ie
							};
						}
					},
					states: {
						pager: {
							page: 1,
							recPerPage: 12
						}
					}
				});
				// 获取数据表格实例
				myDataGrid = $('#myJobsDG').data('zui.datagrid');

			}

			function search() {
				var jobsType = $("#jobsType").val();
				var timeStart = $("#timeStart").val();
				var timeEnd = $("#timeEnd").val();
				var searchData;
				myDataGrid.setDataSource({
					//cols: column_data,
					remote: function(params) {
						return {
							// 请求地址
							url: urlpath + "/CommonHander/listNoteInfo?P_TYPE=1&P_START_TIME=" + timeStart + "&P_END_TIME=" + timeEnd,
							// 请求类型
							type: 'post',
							// 数据类型
							dataType: 'json',
							xhrFields: {
								withCredentials: true
							},
							crossDomain:true==!(document.all),//兼容ie
						};
					},
					states: {
						pager: {
							page: 1,
							recPerPage: 12
						}
					}
				});
				myDataGrid.render();

				//			myDataGrid.search(jobState+' '+jobsType);
			}

			//关闭对话框
			function closeDialog() {
				applyTrigger.close();
				//重新设置数据源信息
				myDataGrid.setDataSource({
					cols: column_data,
					remote: function(params) {
						return {
							// 请求地址
							url: urlpath + '/approval/getApplyList',
							// 请求类型
							type: 'post',
							// 数据类型
							dataType: 'json',
							xhrFields: {
								withCredentials: true
							},
							crossDomain:true==!(document.all),//兼容ie
						};
					}
				});
				myDataGrid.render();
			}
			
			function seeNote(val){
				loadwindow(460,590,'公告详情','bars','../../Layout/ordinaryUsers/noteDetail.html?pType=2&noteid='+val);
			}
		</script>
	</body>

</html>