<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>运维人员首页</title>
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/css/zui.min.css">
		<link rel="stylesheet" href="../../Static/Css/opexstaff.css">
		<link rel="stylesheet" href="../../Static/Css/changeManage.css">
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.css">
		<link rel="stylesheet" href="../../Lib/select/css/select-mania.css" />

		<style>
			html,
			body {
				background: #F9F9F9;
				overflow: hidden;
			}
			
			.focus {
				border-bottom: 0.1em solid #ff4902 !important;
				color: #ff4902 !important;
			}
			
			.click {
				float: left;
				margin: 0 10px;
				border-bottom: 1px solid #dddddd;
				display: block;
				height: 56px;
				line-height: 56px;
				text-decoration: none;
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="panell">
						<div class="boday-top">
							<div style="float: left;height: 100%;width: 16%;margin: 5px;">
								<img style="margin-left: 10px;height: 80%;width: 80%;cursor: pointer;" :src="img_url?img_url:img" onclick="getUserInfo1()" class="img-circle">
							</div>
							<div class="user" style="float: left;margin-left: 2%;padding-top: 3%;font-size: 14px;font-weight: bold;">
								<span>{{name}}</span><br>
								<span>{{rolename}}</span>
							</div>
							<div class="score" style="float: right;margin-top: 10px;">
								<p>评分：
									<span id="SCORE_AVG">
                                        </span>
							</div>
						</div>

						<div class="panel-body userInfo" style="height: 70%;padding-top: 2%;">
							<div class="task-td" >
								<p class="task-p">暂存工单</p>
								<span class="task-span" id="zcorder">16</span>
								<div class="progress">
									<div class="progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									</div>
								</div>
							</div>
							<div class="task-td" >
								<p class="task-p">待办工单</p>
								<span class="task-span" id="waitNum">2</span>
								<div class="progress">
									<div id="success" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100" style="width: 12.5%">
									</div>
								</div>
							</div>
							<div class="task-td" onclick="lookList(4,'我的待办')">
								<p class="task-p">处理中</p>
								<span class="task-span" id="dealNum">4</span>
								<div class="progress">
									<div id="warning" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
									</div>
								</div>
							</div>
							<div class="task-td" onclick="lookList(5,'超时任务')">
								<p class="task-p">待办结</p>
								<span class="task-span" id="dbjNum">0</span>
								<div class="progress">
									<div id="danger" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel2">
						<div class="gg-top">
							<span style="margin: 20px 0px 0px 20px;">通知公告</span>
						</div>
						<div class="panel-body userInfo" style="height: 70%;padding-top: 2%;">
							<div id="gg_list" class="task-td">
								<p class="task-p">公告总数</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9" style="height: 100%">
					<div id="top">
						<table id="myInput">
							<tbody>
								<tr>
									<td style="padding-left: 0px;">
										<div class="panel">
											<div class="myPanel" style="cursor: pointer;padding: 1.5% 7%!important;" onclick="look_lisi('../../OrderManage/EventManage/EventManageForm.html','事件统计')">
												<div style="background: #F1B684;"><img class="icon-img" style="margin-left:-1px;" src="../../Static/Img/count.png"></img>
												</div>
												&nbsp;
												<span>事件登记</span>
											</div>
										</div>
									</td>
									<td style="width:20px;"></td>
									<td>
										<div class="panel">

											<div class="myPanel" style="cursor: pointer;padding: 1.5% 7%!important;" onclick="look_lisi('../ordinaryUsers/knowledgeBase.html','运维知识库')">
												<div style="background: #3CC9FF;"><i class="icon icon-book icon-2x"></i></div>
												&nbsp;
												<span>知识共享</span>
											</div>
										</div>
									</td>
									<td style="width:20px;"></td>
									<td>
										<div class="panel">
											<div class="myPanel" style="cursor: pointer;padding: 1.5% 7%!important;" onclick="lookList(8,'我的收藏')">
												<div style="background: #F1B684;"><i class=" icon icon-heart icon-2x"></i></div>
												&nbsp;&nbsp;我的收藏
											</div>
										</div>
									</td>
									<!--<td style="width:20px;"></td>
									<td>
										<div class="panel">
											<div class="myPanel" style="cursor: pointer;padding: 1.5% 7%!important;" onclick="look_lisi('../../OrderManage/EventManage/EventManageForm.html','工单录入')">
												<div style="background: #F1B684;"><i class=" icon icon-question icon-2x"></i></div>
												&nbsp;
												<span>我的系统</span>
											</div>
										</div>
									</td>-->
									<td style="width:20px;"></td>
									<td>
										<div class="panel">
											<div class="myPanel" style="cursor: pointer;padding: 1.5% 7%!important;" onclick="look_lisi('../../OrderManage/operationManager/iframe.html','工单录入')">
												<div style="background: #F1B684;"><img class="icon-img" style="margin-left:-1px;" src="../../Static/Img/count.png"></img>
												</div>
												&nbsp;
												<span>统计</span>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="panel3" data-loading="正在加载..." id="load">
						<div class="fs_nav" style="height:56px;">
							<div class="fsnav_con">
								<h3 style="margin: 0px;margin-right: 50px;">
						<span class="dropdown dropdown-hover">
							<a class="dropdown-toggle" data-toggle="dropdown" href="###" ><span id="otype">全部工单</span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:setOrderType()">全部工单</a></li>
								<li><a href="javascript:setOrderType(1000)">问题工单</a></li>
								<li><a href="javascript:setOrderType(1011)">发布工单</a></li>
								<li><a href="javascript:setOrderType(1020)">事件工单</a></li>
								<li><a href="javascript:setOrderType(1010)">需求工单</a></li>
							</ul>
						</span>
                        </h3>
                                <a href="javascript:void();" onclick="dealOrder(0)" class="click"><span>待办工单</span></a>
								<a href="javascript:void();" onclick="dealOrder(1)" class="click"><span>暂存工单</span></a>
								<a href="javascript:void();" onclick="dealOrder(4)" class="click"><span>待办结</span></a>
								<a href="javascript:void();" onclick="dealOrder(3)" class="click"><span>处理中</span></a>
								<a href="javascript:addOrder()" id="input" style="display: none" class="click">立即创建</a>
							</div>
						</div>
						<div style="width: 100%;height: 84%;overflow: auto">
							<div style="width: 100%;height: 100%;border: 0px">

								<div id="bottom">
									<div id="content"></div>
									<footer>
										<ul class="pager" data-ride="pager" id="page">
										</ul>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="../../Lib/jquery-3.4.1.min.js"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/js/zui.min.js"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.js"></script>
		<script src="../../Lib/select/js/select-mania.js"></script>
		<script src="../../Lib/public.js"></script>
		<script src="../../Lib/vue.js"></script>
		<script type="text/javascript" src="../../Static/Js/emLevel.js"></script>
		<script type="text/javascript">
			//创建一个数组来存放表头信息
			var column_data = [];
			var applyTrigger = new $.zui.ModalTrigger();

			$(document).ready(function() {
				var sele = $('#selectchose').selectMania({
					themes: ['green'],
					placeholder: '请选择',
					removable: false,
					ajax: false,
				});
				if($('body').height() <= 657) {
					$('.task-p').css({
						'font-size': '10px'
					})
					$('.task-span').css({
						'font-size': '20px'
					})
					$('.myPanel').css({
						'padding': '0% 8%'
					})
					$('.score p').css({
						'font-size': '14px'
					})

				} else if($('body').height() <= 719) {
					$('.task-p').css({
						'font-size': '11px'
					})
					$('.task-span').css({
						'font-size': '22px'
					})
					$('.myPanel').css({
						'padding': '1% 8%'
					})
					$('.score p').css({
						'font-size': '15px'
					})

				} else if($('body').height() <= 869) {
					$('.task-p').css({
						'font-size': '12px'
					})
					$('.task-span').css({
						'font-size': '24px'
					})
					$('.myPanel').css({
						'padding': '9% 9%'
					})
					$('.score p').css({
						'font-size': '16px'
					})

				} else if($('body').height() <= 898) {
					$('.task-p').css({
						'font-size': '12px'
					})
					$('.task-span').css({
						'font-size': '25px'
					})
					$('.myPanel').css({
						'padding': '2% 8%'
					})
					$('.score p').css({
						'font-size': '18px'
					})

				} else {
					$('.task-p').css({
						'font-size': '14px'
					})
					$('.task-span').css({
						'font-size': '28px'
					})
					$('.myPanel').css({
						'padding': '2% 8%'
					})
					$('.score p').css({
						'font-size': '18px'
					})
				}
				//				getScollNotice();
				psearch();
				$('#selectchose').on('change', function(e, params) {
					var selectID = $("#selectchose").find("option:selected").val();
					console.log(selectID);
					myDataGrid.search(selectID);
				});

				column_data.push({
					label: 'ID',
					name: "APPLY_ID",
					width: 60
				});
				column_data.push({
					name: 'OP_TYPE',
					label: '操作',
					html: true,
					width: 350,
					sort: false,
					valueOperator: {
						getter: function(dataValue, cell, dataGrid) {
							var apply_id = cell.config.data.APPLY_ID;
							var button_id = cell.config.data.OP_TYPE;
							var button_type = cell.config.data.APPLY_STATUS;
							var jjcd = cell.config.data.EM_LEVEL;
							switch(jjcd) {
								case "特急":
								case "紧急":
									jjcd = 1;
									break;
								case "加急":
								case "高":
									jjcd = 2;
									break;
								case "较急":
								case "中":
									jjcd = 3;
									break;
								case "一般":
								case "低":
									jjcd = 4;
									break;
								default:
									0
									break;
							}
							if(button_id) {
								var res = dataValue.replace(/openwindow\(101,PP_APPLY_ID/g,
										"openwindowByzp(101," + apply_id + "," + button_type + "," + jjcd)
									.replace(/PP_APPLY_ID/g, apply_id + "," + button_type);
								return res;
							}
						}
					}
				});
				//获取要显示的表格信息
				$.ajax({
					url: urlpath + "/approval/getApprovalColumn",
					dataType: 'json',
					type: "POST",
					xhrFields: {
						withCredentials: true
					},
					crossDomain: true == !(document.all), //兼容ie
					success: function(data) {
						if(data != null && data.length > 0) {
							//利用循环拼接表头信息
							$.each(data, function(i, item) {
								if(item.name == 'EM_LEVEL') {
									column_data.push({
										'name': item.name,
										'label': item.label,
										'width': Number(item.width),
										'html': true,
										'sort': true,
										'valueOperator': {
											getter: function(dataValue, cell, dataGrid) {
												if(dataValue == "特急" || dataValue == "紧急") {
													return "<span style='color:red;'>紧急</span>";
												} else if(dataValue == "加急" || dataValue == "高") {
													return "<span style='color:#f4e60d;'>高</span>";
												} else if(dataValue == "较急" || dataValue == "中") {
													return "<span style='color:orange;'>中</span>";
												} else if(dataValue == "一般" || dataValue == "低") {
													return "<span style='color:#11bae1;'>低</span>";
												} else {
													return dataValue;
												}
											}
										}
									});
								} else {
									column_data.push({
										'name': item.name,
										'label': item.label,
										'width': Number(item.width)
									});
								}

							});
							//向表头中加入发起时间，停留时间，和操作
							column_data.push({
								name: 'APPLY_STATE',
								label: '事件状态',
								sort: true,
								width: 120
							});
							column_data.push({
								name: 'RESEND_NUM',
								label: '重发次数',
								html: true,
								sort: false,
								width: 100,
								valueOperator: {
									getter: function(dataValue, cell, datagrid) {
										if(dataValue == "0") {
											return "<span style='color: #65CA4B'>无重发记录</span>";
										} else {
											return "<span style='color:#de1c31;'>重发" + dataValue + "次</span>";
										}
									}
								}
							});
							column_data.push({
								name: 'CREATE_TIME',
								label: '发起时间',
								html: true,
								width: 180
							});
							column_data.push({
								name: 'STAY_TIME',
								label: '停留时间',
								html: true,
								width: 120
							});

							//生成datagrid
							setGrid(column_data);
						}
					},
					error: function(err) {
						alert('链接后台错误');
					}
				});

				//事件数量统计
				$.ajax({
					type: "post",
					url: urlpath + '/order/GetOrderMainCount',
					data: {},
					xhrFields: {
						withCredentials: true
					},
					crossDomain: true == !(document.all), //兼容ie
					dataType: 'json',
					success: function(res) {
						var waitNum = 0;
						var dealNum = 0;
						var dbjNum = 0;
						$("#zcorder").text(res.zcorder);
						$("#waitNum").text(res.waitNum);
						$("#dealNum").text(res.dealNum);
						$("#dbjNum").text(res.dbjNum);
						if(res.zcorder > 0) {
							waitNum = parseInt(res.waitNum) / parseInt(res.totalnum);
							dealNum = parseInt(res.dealNum) / parseInt(res.totalnum);
							dbjNum = parseInt(res.dbjNum) / parseInt(res.totalnum);
						} else {
							waitNum = 1;
							dealNum = 1;
							dbjNum = 1;
						}

						$("#warning").attr('aria-valuenow', waitNum * 100);
						$("#warning").css({
							width: waitNum * 100 + '%'
						})
						$("#success").attr('aria-valuenow', dealNum * 100);
						$("#success").css({
							width: dealNum * 100 + '%'
						})
						$("#danger").attr('aria-valuenow', dbjNum * 100);
						$("#danger").css({
							width: dbjNum * 100 + '%'
						})
						if(res.collectNum > 0) {
							$('#collectNum').show();
							$('#collectNum').text(res.collectNum);
						} else {
							$('#collectNum').hide();
						}
						var scoreNum = Math.round(res.V_SCORE);
						var scoreStr = "";
						if(scoreNum > 0) {
							if($('body').height() <= 869) {
								for(var i = 0; i < scoreNum; i++) {
									scoreStr += '<i style="font-size:16px;" class="icon icon-star"></i>';
								}
								for(var j = 0; j < 5 - scoreNum; j++) {
									scoreStr += '<i style="font-size:16px;" class="icon icon-star-empty"></i>';
								}
							} else {
								for(var i = 0; i < scoreNum; i++) {
									scoreStr += '<i style="font-size:22px;" class="icon icon-star"></i>';
								}
								for(var j = 0; j < 5 - scoreNum; j++) {
									scoreStr += '<i style="font-size:22px;" class="icon icon-star-empty"></i>';
								}
							}

						} else {
							scoreStr += '<i class="icon icon-star-empty"></i>' +
								'<i class="icon icon-star-empty"></i>' +
								'<i class="icon icon-star-empty"></i>' +
								'<i class="icon icon-star-empty"></i>' +
								'<i class="icon icon-star-empty"></i>';
						}
						$("#SCORE_AVG").html(scoreStr);
					}
				});

				//获取未提单数量
				$.ajax({
					type: "post",
					url: urlpath + '/approval/applyLadeCount',
					data: {},
					xhrFields: {
						withCredentials: true
					},
					crossDomain: true == !(document.all), //兼容ie
					dataType: 'json',
					success: function(res) {
						$("#ladeCount").text(res);
					}
				});
			});

			//获取滚动通知
			//			function getScollNotice() {
			//				webapi("/CommonHander/getIndexNote", "", function(res) {
			//					for(var i in res) {
			//						$("#scollNotice").append('<li data-height="500px" data-iframe="../ordinaryUsers/noteDetail.html?pType=1&noteid=' + res[i]["NOTE_ID"] +
			//							'" data-toggle="modal" data-title="通知详情">' + res[i]["TITLE"] + '<span class="createTime">' + res[i]["CREATE_TIME"] + '</span></li>');
			//					}
			//					noticeScoll("#scollNotice", res.length);
			//				});
			//			}
			//
			//			function noticeScoll(node, num) {
			//				//信息滚动，获取ul的dom元素
			//				var news_move = document.querySelector(node);
			//
			//				//获取li的高度
			//				if(news_move.children[0] == undefined) {
			//					return;
			//				}
			//				var li_height = news_move.children[0].offsetHeight;
			//				var index = 0;
			//				/*添加过渡*/
			//				function addMove() {
			//					news_move.style.transition = "all 1s ease-out";
			//					news_move.style.webkitTransition = "all 1s ease-out";
			//				}
			//				/*移除过渡*/
			//				function removeMove() {
			//					news_move.style.transition = "";
			//					news_move.style.webkitTransition = "";
			//				}
			//				/*设置位移*/
			//				function setMove(index) {
			//					news_move.style.transform = "translateY(" + (index * li_height) + "px)";
			//					news_move.style.webkitTransform = "translateY(" + (index * li_height) + "px)";
			//				}
			//				/*定时器*/
			//				function intervalCallBack() {
			//					addMove();
			//					index++;
			//					if(index > (num - 1)) {
			//						index = 0;
			//						removeMove();
			//						setMove(-index);
			//					}
			//					setMove(-index);
			//				}
			//				var timer = setInterval(intervalCallBack, 2500);
			//				/*鼠标移入移除定时器*/
			//				$(node).mouseover(function() {
			//					clearInterval(timer);
			//				})
			//				/*鼠标移出继续滚动*/
			//				$(node).mouseout(function() {
			//					/*定时器*/
			//					timer = setInterval(intervalCallBack, 2500);
			//				})
			//			}

			function setGrid(data1) {
				$('#daiban').datagrid({
					rowDefaultHeight: 50,
					showRowIndex: false,
					height: 'page',
					sortable: true,
					checkByClickRow: false,
					dataSource: {
						cols: data1,
						remote: function(params) {
							return {
								url: urlpath + '/approval/getApplyDborderList',
								type: 'POST',
								dataType: 'json',
								xhrFields: {
									withCredentials: true
								},
								crossDomain: true == !(document.all), //兼容ie
							}
						}
					},
					states: {
						pager: { // 分页
							page: 1,
							recPerPage: 7
						},
						sortBy: {}
					}
				});
				// 获取数据表格实例
				myDataGrid = $('#daiban').data('zui.datagrid');
			}

			function turnsend(id) {
				applyTrigger.show({
					height: 600,
					width: 600,
					title: '事件转派',
					iframe: '../ordinaryUsers/turnsendorder.html?p_apply_id=' + id
				});
			}

			//关闭对话框
			function closeDialog() {
				$.zui.modalTrigger.close();
				reload();
			}

			function reload() {
				//重新设置数据源信息
				myDataGrid.setDataSource({
					cols: column_data,
					remote: function(params) {
						return {
							// 请求地址
							url: urlpath + '/approval/getApplyDborderList',
							// 请求类型
							type: 'GET',
							// 数据类型
							dataType: 'json',
							data: {

							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true == !(document.all), //兼容ie
						};
					}
				});
				myDataGrid.render();
			}

			function turnsend(id) {
				applyTrigger.show({
					height: 600,
					width: 600,
					title: '事件转派',
					iframe: '../ordinaryUsers/turnsendorder.html?p_apply_id=' + id
				});
			}

			//查看任务列表信息
			function lookList(P_STATE, P_TITLE) {
				if(P_STATE == 8) {
					applyTrigger.show({
						iframe: "../ordinaryUsers/myCollect2.html",
						height: $('body').height() * 0.90,
						width: $('body').width() * 0.90,
						title: P_TITLE
					});
				} else {
					applyTrigger.show({
						iframe: "orderList.html?P_STATE=" + P_STATE,
						height: $('body').height() * 0.90,
						width: $('body').width() * 0.90,
						title: P_TITLE
					});
				}
			}

			function look_lisi(url, P_TITLE) {
				applyTrigger.show({
					iframe: url,
					height: $('body').height(),
					width: $('body').width(),
					title: P_TITLE
				});
			}
			var vm = new Vue({
				el: '.container-fluid',
				data: {
					name: window.localStorage.getItem("username"),
					rolename: window.localStorage.getItem("rolename"),
					img_url: "",
					urlPath: urlpath,
					img: "../../Static/Img/photo.jpg",
				},
				created: function() {
					this.getUserInfo();
				},
				methods: {
					getUserInfo: function() {
						var _this = this;
						$.ajax({
							type: "post",
							url: urlpath + '/UserHander/getUserInfo',
							data: {},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true == !(document.all),
							dataType: 'json',
							success: function(res) {
								_this.img_url = res[0].IMG_URL;
							}
						});
					}
				}
			})

			function myInput() {
				$("#myInput").show();
				$("#myOrder").hide();
				P_COUNT_TYPE = "0";
				P_TYPE = "1";
				OperationStatistics();
				psearch();
			}

			function dealOrder(type) {
				$("#myInput").hide();
				$("#myOrder").show();
				P_TYPE = type;
				P_COUNT_TYPE = "0";
				OperationStatistics();
				psearch();
			}

			function getUserInfo1() {
				applyTrigger.show({
					iframe: '../../Layout/userInfo.html',
					height: 390,
					width: 400,
					title: '头像修改'
				});
			}

			function closeTrigger() {
				applyTrigger.close();
			}

			function psearch() {
				$('#load').addClass('loading');
				var par = {
					"P_TYPE": 1
				};
				webapi("/order/OperationQuery", par, function(res) {
					if(res.result == 'success') {
						$("#content").html("");
						for(var i = 0; i < res.data.length; i++) {
							conenter(res.data[i]);
						}
					}
					var userListPage = $('#page').data('zui.pager');
					userListPage.set(res.pager.page, res.pager.recTotal, res.pager.recPerPage);
					$('#load').removeClass("loading");
				}, function(err) {
					$('#load').removeClass("loading");
					alert("加载数据错误")

				});
			}
			//拼接内容
			function conenter(obj) {
				var html = "";
				if(obj.FORM_NAME == "事件管理" || obj.FORM_NAME == "发布管理") {
					html = '<div class="order_list">' +
						'<div class="ol_title">' +
						'<h3>' + obj.FORM_NAME + ' &nbsp;编号：' + obj.DB_ID + '</h3>' +
						'<a href="javascript:toDetails(' + obj.DB_ID + ',' + obj.EVENT_ID + ')">查看详情</a>' +
						'<a href="javascript:toDeal(' + obj.DB_ID + ',' + obj.EVENT_ID + ')">处理</a>' +
						'</div>' +
						'<div class="ol_con">' +
						'<table>' +
						'<tbody><tr style="background-color: rgb(255, 255, 255);">' +
						'<th rowspan="3">' +
						'<a>' +
						'<img src="../../Static/Img/fixStart.gif" alt="">' +
						'<span>' + obj.FORM_NAME + '</span>' +
						'</a>' +
						'</th>' +
						'<td>' +
						'<em>系统名称：</em>' +
						'<span class="olc_txt yellow_txt ">' + obj.SYSTEM_NAME + '</span>' +
						'<em>来源：</em>' +
						'<span class="olc_txt">' + obj.ORDER_SOURCE + '</span>' +
						'<em>类型：</em>' +
						'<span class="olc_txt">' + obj.ORDER_CLASS + '</span>' +
						'<em>当前节点：</em>' +
						'<span class="olc_txt">' + obj.STEP_NAME + '</span>' +
						'<em>创建时间：</em>' +
						'<span class="olc_txt">' + obj.CREATE_TIME + '</span>' +
						'<em>创建人名称：</em>' +
						'<span class="olc_txt last">' + obj.CREATE_USER + '</span>' +
						'</td>' +
						'</tr>' +
						'<tr style="background-color: rgb(255, 255, 255);"><td><em>名称：</em>' + obj.ORDER_NAME + '</td></tr>' +
						'<tr style="background-color: rgb(255, 255, 255);"><td><em>内容概述：</em>' + obj.ORDER_DSC + '</td></tr>' +
						'</tbody></table>' +
						'</div>' +
						'</div>'
				} else {
					html = '<div class="order_list">' +
						'<div class="ol_title">' +
						'<h3>' + obj.FORM_NAME + ' &nbsp;编号：' + obj.DB_ID + '</h3>' +
						'<a href="javascript:toDetails(' + obj.DB_ID + ',' + obj.EVENT_ID + ')">查看详情</a>' +
						'<a href="javascript:toDeal(' + obj.DB_ID + ',' + obj.EVENT_ID + ')">处理</a>' +
						'</div>' +
						'<div class="ol_con">' +
						'<table>' +
						'<tbody><tr style="background-color: rgb(255, 255, 255);">' +
						'<th rowspan="3">' +
						'<a>' +
						'<img src="../../Static/Img/fixStart.gif" alt="">' +
						'<span>' + obj.FORM_NAME + '</span>' +
						'</a>' +
						'</th>' +
						'<td>' +
						'<em>系统名称：</em>' +
						'<span class="olc_txt yellow_txt ">' + obj.SYSTEM_NAME + '</span>' +
						'<em>来源：</em>' +
						'<span class="olc_txt">' + obj.ORDER_SOURCE + '</span>' +
						'<em>类型：</em>' +
						'<span class="olc_txt">' + obj.ORDER_CLASS + '</span>' +
						'<em>紧急程度：</em>' +
						'<span class="olc_txt">' + setEmLevel(obj.EMER_LEVEL) + '</span>' +
						'<em>当前节点：</em>' +
						'<span class="olc_txt">' + obj.STEP_NAME + '</span>' +
						'<em>创建时间：</em>' +
						'<span class="olc_txt">' + obj.CREATE_TIME + '</span>' +
						'<em>创建人名称：</em>' +
						'<span class="olc_txt last">' + obj.CREATE_USER + '</span>' +
						'</td>' +
						'</tr>' +
						'<tr style="background-color: rgb(255, 255, 255);"><td><em>名称：</em>' + obj.ORDER_NAME + '</td></tr>' +
						'<tr style="background-color: rgb(255, 255, 255);"><td><em>内容概述：</em>' + obj.ORDER_DSC + '</td></tr>' +
						'</tbody></table>' +
						'</div>' +
						'</div>'
				}

				$("#content").append(html);
			}
		</script>
	</body>

</html>