<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>统计列表</title>
		<script src="../../Lib/jquery-3.4.1.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/css/zui.min.css">
		<link rel="stylesheet" href="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.css">
		<style>
			html,
			body {
				background: #F9F9F9;
			}
			
			.panel-body {
				overflow: auto;
				padding: 0 15px;
			}
			
			.row {
				margin-top: 0px;
			}
			
			.container-fluid {
				padding: 10px;
			}
			
			.clearfix {
				height: 70px;
				line-height: 70px;
			}
			
			.clearfix h2 {
				display: inline-block;
				margin: 0;
			}
			
			#score .icon {
				font-size: 18px;
				color: #D6D4D4;
			}
			
			#score .icon-star {
				color: #FFE45B;
			}
			
			.clearfix {
				line-height: 32px;
				padding-top: 2%;
			}
			
			#form1 {
				display: inline-flex;
				width: 85%;
				margin-left: 5px;
			}
			
			#form1 select {
				width: 20%;
				margin: 0px 20px 0px 5px;
			}
			
			#form1 input {
				width: 30%;
			}
			
			/*.btn{
				color: #fff;
			    background-color: #3280fc;
			    border-color: #1970fc;
			}
			
			.btn.active,
			.btn:active,
			.btn:focus,
			.btn:hover,
			.open .dropdown-toggle.btn-primary {
				color: #fff;
				background-color: #0a67fb;
				border-color: #0354d4;
				-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
				box-shadow: 0 2px 1px rgba(0, 0, 0, .1)
			}*/
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-body">
							<div id="myJobsDG" class="datagrid datagrid-borderless">
								<header class="clearfix">
									<!--<h2 id="myTitle">统计列表</h2>-->
									<form id="form1">
										<!--<span>问题类型</span>
										<select class="form-control" id="PTYPE" name="PTYPE">
											<option value="">全部</option>
										</select>-->
										<span>问题来源</span>
										<select class="form-control" id="PSOURCE" name="PSOURCE" placeholder="请选择问题来源">
											<option value="">全部</option>
										</select>
										<input type="text" class="form-control" id="exampleInputAccount1" name="PTITLE" placeholder="请输入问题名称">
										<button type="button" style="margin-left: 1%;" id="searchBtn" class="btn btn-primary">查询</button>
									</form>
								</header>
								<div class="datagrid-container"></div>
								<div class="pager"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../Lib/jquery-3.4.1.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/js/zui.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.min.js" type="text/javascript"></script>
		<script src="../../Lib/zui-1.9.1-dist/dist/lib/selectable/zui.selectable.min.js"></script>
		<script src="../../Lib/public.js" type="text/javascript"></script>
		<script>
			var column_data = [];
			var Vsearch;
			var newTrigger = new $.zui.ModalTrigger();
			var myDataGrid;
			P_IS_TYPE = $.url("P_IS_TYPE"); //统计类型
			P_TYPE_ID = decodeURI($.url("P_TYPE_ID")); //问题类型
			P_SCORE_GRADE = decodeURI($.url("P_SCORE_GRADE")); //评分星级
			
			$(function() {
//				$.ajax({
//					type: "post",
//					url: urlpath + "/ProcessHandler/GetProcessType",
//					data: {
//						'P_TABLE': 'TR_BASE_APPLY_XX',
//						'P_COLUMN': 'TYPE'
//					},
//					xhrFields: {
//						withCredentials: true
//					},
//					crossDomain: true,
//					dataType: 'json',
//					success: function(res) {
//						for(var i = 0; i < res.length; i++) {
//							var option = document.createElement("option");
//							$(option).val(res[i].ID);
//							$(option).text(res[i].TEXT);
//							$("#PTYPE").append(option);
//						}
//					},
//					error: function(res) {
//						console.log("err");
//					}
//				});
				$.ajax({
					type: "post",
					url: urlpath + "/ProcessHandler/GetProcessType",
					data: {
						'P_TABLE': 'TR_BASE_APPLY_XX',
						'P_COLUMN': 'SOURCE'
					},
					xhrFields: {
						withCredentials: true
					},
					crossDomain:true==!(document.all),//兼容ie
					dataType: 'json',
					success: function(res) {
						for(var i = 0; i < res.length; i++) {
							var option = document.createElement("option");
							$(option).val(res[i].ID);
							$(option).text(res[i].TEXT);
							$("#PSOURCE").append(option);
						}
					},
					error: function(res) {
						// console.log("err");
					}
				});
				 setTimeout(function(){
					 getDataGrid();
				 },100);

				$('#searchBtn').on('click', function() {
					var data1 = $("#form1").serializeArray();
					var P_TYPE = "";
					var P_SOURCE = "";
					var P_TITLE = "";
					for(var i = 0; i < data1.length; i++) {
						if(data1[i].name == "PTITLE") {
							P_TITLE = data1[i].value;
						}
					}
//					if($("#PTYPE option:selected").text()!='全部'){
//						P_TYPE=$("#PTYPE option:selected").text();
//					}
					if($("#PSOURCE option:selected").text()!='全部'){
						P_SOURCE=$("#PSOURCE option:selected").text();
					}
//					console.log(P_TITLE+","+P_SOURCE);
					myDataGrid.setDataSource({
						remote: function(params) {
							return {
								url: urlpath + '/statisticsController/getApplyCountList?P_IS_TYPE='+P_IS_TYPE+'&P_TYPE_ID='+P_TYPE_ID+'&P_SCORE_GRADE='+P_SCORE_GRADE+'&KEYWORD='+P_TITLE+'&P_SOURCE_TYPE='+P_SOURCE,
								type: 'POST',
								dataType: 'json',
								xhrFields: {
									withCredentials: true
								},
								crossDomain: true
							};
						},
						states: {
							pager: {
								page: 1,
								recPerPage: 9
							}
						}
					});
//					myDataGrid.search(P_TYPE + " " + P_SOURCE + " " + P_TITLE);
					myDataGrid.render();
				});
			});

			function getDataGrid() {
				$('#myJobsDG').datagrid({
					rowDefaultHeight: 50,
					width: $('body').width,
					height: 'page',
					sortable:true,
					checkByClickRow: false,
					showRowIndex:false,
					dataSource: {
						cols: [{ name: '', label: 'ID', width: 0.02,checkbox:true},
							{
								name: 'TITLE',
								label: '问题标题',
								width: 0.17,
								html: true,
								valueOperator: {
									getter: function(dataValue, cell, dataGrid) {
										var title=cell.config.data.TITLE;
										var apply_id=cell.config.data.APPLY_ID;
										var str="";
										if(title){
											str+="<a style='text-decoration:none;' href='#' onclick='javascript:openwindow(108,"+apply_id+")'>"+title+"</a>";
										}
										return str;
									}
								}
							},
							{
								name: 'SOURCE',
								label: '来源',
								width: 0.1
							},
							{
								name: 'DETAIL',
								label: '问题详情',
								width: 0.25
							},
							{
								name: 'EM_LEVEL',
								label: '紧急程度',
								width: 0.09,
								html: true,
								valueOperator: {
									getter: function (dataValue, cell, dataGrid) {
										if (dataValue == "特急") {
											return "<span style='color:#de1c31;'>特急</span>";
										} else if (dataValue == "加急") {
											return "<span style='color:#FFB933;'>加急</span>";
										} else if (dataValue == "较急") {
											return "<span style='color:#ee4866;'>较急</span>";
										} else if (dataValue == "一般") {
											return "<span style='color:#65CA4B;'>一般</span>";
										} else {
											return dataValue;
										}
									}
								}
							},
							{
								name:'APPLY_STATE',
								label:'当前状态',
								width:0.09
							},
							{
								name:'STAY_TIME',
								label:'处理时长',
								width:0.1
							},
							{
								name: 'CREATE_TIME',
								label: '发起时间',
								width: 0.1
							},
							{
								name: 'SCORE',
								label: '评分',
								width: 0.1,
								html: true,
								valueOperator: {
									getter: function(dataValue, cell, dataGrid) {
										var SCORE = cell.config.data.SCORE;
										var str = "<span id='score'>";
										if(SCORE) {
											for(var i = 0; i < SCORE; i++) {
												str += "<i class='icon icon-star'></i>";
											}
										} else {
											str += "未评分";
										}
										str += "</span>";
										return str;
									}
								}
							}
//							{
//								name: 'CZ',
//								label: '操作',
//								width: 200,
//								html: true,
//								valueOperator: {
//		                            getter: function (dataValue, cell, dataGrid) {
//		                                var apply_id = cell.config.data.APPLY_ID;
//		                                var OP_TYPE = cell.config.data.OP_TYPE;
//		                                if(OP_TYPE){
//		                                	var res=OP_TYPE.replace(/PP_APPLY_ID/g,apply_id);
//			                                return res;
//		                                }
//		                            }
//	                        }
//							}
						],
						remote: function(params) {
							return {
								url: urlpath + '/statisticsController/getApplyCountList?P_IS_TYPE='+P_IS_TYPE+'&P_TYPE_ID='+P_TYPE_ID+'&P_SCORE_GRADE='+P_SCORE_GRADE,
								type: 'get',
								dataType: 'json',
								xhrFields: {
									withCredentials: true
								},
								crossDomain:true==!(document.all),//兼容ie
							};
						}
					},
					states: {
						pager: {
							page: 1,
							recPerPage: 9
						},
						sortBy:{
						}
					}
				});
				// 获取数据表格实例
				myDataGrid = $('#myJobsDG').data('zui.datagrid');
			}
		</script>
	</body>

</html>